extend layout
block content
    h2 Profile Page #{username}
    if ownPage == true
        form(action="/upload" method="post" enctype="multipart/form-data" role="form")
            .form-group
                label(for="fieldImage") Image:
                input(type="file" id="fieldImage" name="image" accept="image/*")
            button(type="submit" class="btn btn-default") Submit
    if loggedIn == true && ownPage == false
        a(href="/follow/#{username}") Follow Me
    if (friends)
        h3 Friend List
        ul.friends
            for friend in friends
                li
                    a(href="/profile/#{friend}") #{friend}
    ul.list-unstyled.image-list
        for image in images
            li
                a(href="#{image.fullSizePath}")
                    img(src="#{image.thumbPath}")
    script.
        var socket = io.connect('http://localhost');
        socket.on('news', function (data) {
          console.log(data);
          socket.emit('my other event', { my: 'data' });
        });